




body {
		color: black;
		background-color: #204288; 
		font-size: 12pt;
		font-family: Veranda, Geneva, Arial, Helvetica, sans-serif;  
		margin-top:50px;
        
		}

        
#tabs{ 
    padding:0; 
    margin-left:180px;
    font-family:Arial, Helvetica, sans-serif; 
    font-size:12px; 
    color:#FFF; 
    font-weight:bold; 
    width:inherit;
    } 
    
#tabs ul{ 
    list-style:none; 
    margin:0; 
    padding:0; 
    } 
    
#tabs ul li{ 
    display:inline; 
    margin:0; 
    text-transform:capitalize; 
    } 
    
#tabs ul li a{ 
    padding:15px 91px; 
    color:#FFF; 
    background:#E7A272; 
    float:left; 
    text-decoration:none; 
    border:1px solid #D17B40; 
    border-left:0; 
    margin:0; 
    text-transform:capitalize; 
    } 
    
#tabs ul li a:hover{ 
    background:#EAEAEA; 
    color:#7F9298; 
    text-decoration:none; 
    border-bottom:1px solid #EAEAEA; 
    } 
    
#tabs ul li a.active{ 
    background:#EAEAEA; 
    color:#7F9298; 
    border-bottom:1px solid #EAEAEA; 
    } 

#content{    
    width:904px;
    height:1px;
    margin-left:180px;
    background:#EAEAEA; 
    clear:both; 
    font-size:11px; 
    color:#000; 
    padding:10px; 
    font-family:Arial, Helvetica, sans-serif; 
    }         

h3 {color:#24408C;}

h4 {color:#24408C;}

#name {
		 color:white;
		 font-family:arial;
         font-style:normal;
         font-weight:bold;
		 font-size:28px;
		 text-align:left;
		 padding-left:65px;
		 
		  }
          
#address {
		 color:white;
		 font-family:arial;
		 font-size:18px;
		 text-align:left;
		 padding-left:65px;
		 
		  }
		  
#phone {
		 color:white;
		 font-family:arial;
		 font-size:18px;
		 text-align:left;
		 padding-left:65px;
		 
		  }		  

#top {
  	  width:903px;
	  height:30px;
	  padding-left:15px;
	  padding-top:15px;
	  background-color:white; 
	  margin-left:180px;
	  border-top-style:ridge;
	  border-right-style:ridge;
	  border-left-style:ridge;
	 
	  }
	  
	  
#left {
  	  width:300px;
	  height:1050px;
	  padding-left:15px;
      padding-right:15px;
	  padding-top:15px;
	  background-color:#101C3D; 
	  margin-left:180px;
      margin-bottom:20px;
	  border-left-style:ridge;
	  border-bottom-style:ridge;
	  color:white;
 	  float: left;
      
	  }
      
#left_resume {
  	  width:300px;
	  height:1050px;
	  padding-left:15px;
      padding-right:15px;
	  padding-top:15px;
	  background-color:#101C3D; 
	  margin-left:180px;
      margin-bottom:20px;
	  border-left-style:ridge;
	  border-bottom-style:ridge;
	  color:white;
 	  float: left;
      
	  }
	  
.h4 {
    color:#E7A272;

     }      
      
#right {
  	  width:558px;
	  height:1050px;
	  padding-top:15px;
	  padding-left:15px;
	  padding-right:15px;
	  background-color:white; 
	  border-right-style:ridge;
	  border-bottom-style:ridge;
	  float: left;
      margin-bottom:20px;
 	 
	  }

#waleed_pic {
   
   border:outset 1px;
   border-color:white; 
   margin-left:63px;
   margin-top:20px;
   }

#pic1 {
width:400px;
margin-left:auto;
margin-right:auto;
margin-top:20px;
border:inset;
border-color:#E7A272;
padding:inherit;
background-color:#204288;
   }

.pic2 {
width:400px;
margin-left:auto;
margin-right:auto;
margin-top:100px;
border:inset;
border-color:#E7A272;
padding:inherit;
background-color:#204288;
/* Rotate div */
transform:rotate(7deg);
-ms-transform:rotate(7deg); /* IE 9 */
-webkit-transform:rotate(7deg); /* Safari and Chrome */
     }

img.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:370px;
    padding-bottom:5px;
     }
     
     
.pic_text {
text-align:center;
color:#E7A272;
     }

#up {
    text-align:right;
    font-size:20px;
     }





